.container {
  background-image: url('../../public/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 24px);
  display: flex;
  flex-direction: column;
}

.nav {
  border: 1px solid #eee;
  width: 100%;
  max-width: 200px;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 2rem;
  position: absolute;
  bottom: 0;
  align-self: center;
}

.nav a {
  display: block;
  width: fit-content;
  padding: 5px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.5s;
}

.nav a:hover {
  background-color: var(--login-secondary-color);
}
