.container {
  position: absolute;
  height: calc(100% - 80px);
  width: 100%;
  overflow: hidden;
}

.cover-img {
  position: absolute;
  z-index: -1;
  width: 100%;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  font-size: 5rem;
  height: calc(100% - 80px);
}

.cover-img .cover-content {
  display: flex;
  align-items: center;
  opacity: 0.8;
  gap: 1rem;
}
.cover-img .cover-content .svg {
  width: 90px;
  height: 104px;
  position: relative;
  perspective: 800px;
}

.cover-img .cover-content .svg::after {
  content: '';
  display: block;
  position: absolute;
  animation: show-liquid 2s forwards;
}

.cover-img .cover-content svg line:nth-child(3) {
  opacity: 0;
  transform: scale(-1, 0.7);
  transform-origin: 25% 50%;
  animation: show-svg 3s infinite backwards 0.5s;
}

.cover-img .cover-content svg line:nth-child(4) {
  opacity: 0;
  transform: scale(-1, 0.7);
  transform-origin: 42% 50%;
  animation: show-svg 3s infinite backwards 0.7s;
}

.cover-img .cover-content svg line:nth-child(5) {
  opacity: 0;
  transform: scale(-1, 0.7);
  transform-origin: 59% 50%;
  animation: show-svg 3s infinite backwards 0.9s;
}

@keyframes show-svg {
  to {
    opacity: initial;
    transform: scale(-1, 1);
  }
}

@keyframes show-liquid {
  0% {
    bottom: 28px;
    left: 10px;
    height: 0px;
    width: 55px;
    background-color: transparent;
  }
  100% {
    bottom: 28px;
    left: 10px;
    height: 20px;
    width: 55px;
    background-color: #eee;
  }
}
