.container {
  background-image: url('../../../../public/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: calc(100% - 23px);
  width: 100%;
  overflow: hidden;
}
