.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.container svg {
  animation: show-rotate 1s infinite linear;
}

@keyframes show-rotate {
  to {
    transform: rotate(360deg);
  }
}
