.container {
  height: calc(100% - 139.6px);
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  height: 10px;
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  background-color: #464647;
  width: 3px;
  border: 3px solid #464647;
}

@media (max-width: 450px) {
  .container {
    height: calc(100% - 161.6px);
  }
}
