.container {
  padding: 2rem;
  color: #ffff;
  font-size: 1.2rem;
  display: flex;
  flex: 1;
  height: calc(100vh - 174px);
  overflow: auto;
}

.container::-webkit-scrollbar {
  height: 10px;
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  background-color: #464647;
  width: 3px;
  border: 3px solid #464647;
}
.container h2 {
  font-weight: bold;
  margin-bottom: 1rem;
}
.container a {
  text-decoration: none;
  color: #f97b6f;
}
.container .links p {
  margin-left: -1rem !important;
}
.links {
  position: relative;
  transform: translate3d(0, -70px, 0);
  width: 50%;
  display: flex;
  opacity: 0;
  flex-direction: column;
  counter-reset: section;
  border-radius: 3px;
  gap: 0.5rem;
  padding: 1rem;
  height: fit-content;
  background-color: #252526;
  animation: show-transform-down 1s forwards;
}
.links::after {
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  background-color: #f97b6f;
  left: 0%;
  width: 0px;
  top: 100%;
  animation: show-border-bottom 1s forwards 0.5s;
}

.container .links::before {
  content: '';
  position: absolute;
  right: 0;
  top: calc(0%);
  display: block;
  width: 2px;
  height: 0px;
  border-radius: 10px;
  background-color: #f97b6f;
  animation: show-border-right 1s forwards 0.5s;
}

.line a {
  position: relative;
}
.line span:nth-child(1) {
  color: #f97b6f;
}
.line::before {
  content: counter(section);
  counter-increment: section;
  margin-right: 1rem;
  color: grey;
}

.line a::after {
  display: block;
  position: absolute;
  content: '';
  left: 0%;
  bottom: -5%;
  width: 0;
  height: 1px;
  background-color: transparent;
  transition: width 0.7s, background-color 0s;
}
.line a:hover::after {
  width: calc(100% + 10px);
  background-color: #f97b6f;
}

.container section {
  opacity: 0;
  transform: translate3d(0, -70px, 0);
  animation: show-transform-down 1s forwards 0.3s;
}

@keyframes show-transform-down {
  to {
    transform: initial;
    opacity: initial;
  }
}

/*-------------------------------------------------MEDIA-QUERY----------------------------------------------------------------------------------*/
@media (max-width: 950px) {
  .container {
    flex-direction: column;
    gap: 3rem;
  }

  .container .links {
    width: 100%;
  }

  .container .links::before {
    content: '';
    position: absolute;
    right: 0;
    display: block;
    width: 1px;
    height: 0px;
    background-color: #f97b6f;
    animation: show-border-right 1s forwards;
  }
  .container .links::after {
    border-radius: 10px;
    top: 100%;
    right: initial;
    left: 0;
    height: 1px;
    width: 0px;
    background-color: #f97b6f;
    animation: show-border-bottom 1s forwards;
  }

  .container section {
    padding: 0;
  }
  .container section h2 {
    text-align: center;
    margin-bottom: 3rem;
  }

  .container section button {
    padding: 0.8rem 1rem;
    margin: 0 auto;
  }
}

@keyframes show-border-bottom {
  to {
    width: 100%;
    background-color: #2d2d2d;
  }
}

@keyframes show-border-right {
  to {
    height: 100%;
    background-color: #2d2d2d;
  }
}

@media (max-width: 475px) {
  .container {
    font-size: 1rem;
    padding: 2rem 0.5rem;
  }
}
