.container {
  padding: 2rem;
  flex: 1;
  height: calc(100vh - 132px);
  overflow: auto;
}

.container::-webkit-scrollbar {
  height: 10px;
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  background-color: #464647;
  width: 3px;
  border: 3px solid #464647;
}

.container .button {
  display: flex;
  margin-left: auto;
  transition: 0.5s;
  background-color: transparent;
  opacity: 0;
  animation: show-opacity 0.5s forwards;
}

.container .button svg {
  transition: 0.7s;
  overflow: visible;
}

.container .button:hover svg {
  stroke: #fff;
}

.container .button svg {
  transition: 1s;
}

@keyframes show-opacity {
  to {
    opacity: initial;
  }
}
