.textarea {
  border: 1px solid transparent;
  resize: none;
  background-color: #252526;
  color: #fff;
  padding: 0.7rem;
  width: 100%;
  transition: all 0.5s;
}

.textarea:focus {
  outline: none;
  border: 1px solid #e64d33;
}
